<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<title>Nocknock</title>
	</head>
	<body id="app">
		<div class="container">

			{{!-- Partial views are cached... why?? --}}
			{{> nav}}

			{{#if loggedin}}
				<div class="page-header">
					<h2>Overview <small>Tracking {{numDevices}} device(s)</small></h2>
				</div>

				<div class="row">
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <a href="device?id=1233"><img src="/snapshots/image_1434050058641.jpg" ></a>
				      <div class="caption">
				        <h4>Android Device</h4>
				        <p>Doodoo's casa</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <a href="device?id=1234"><img src="/snapshots/image_1434050757307.jpg" ></a>
				      <div class="caption">
				        <h4>Android Device</h4>
				        <p>Doodoo's casa</p>
				      </div>
				    </div>
				  </div>
				</div>

      {{else}}
	      <div class="jumbotron">
	        <h1>Nocknock!</h1>
	        <p>Nocknock is a remote monitoring system to help you manage your reptilian pets when you are not around. With timelapsed photos it will allow you to better understand your pet over a period of time. The automated lighting and watering system will ensure your tank environment are kept consistent.</p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="/demo" role="button">View a demo &raquo;</a>
	        </p>
	      </div>
      {{/if}}

      <br><br>
      <footer class="footer">
        <p>&copy; NockNock 2014</p>
      </footer>
    </div>

		<script src="js/jquery-2.1.3.js"></script>
		<script src="js/knockout-3.3.0.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/validator.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
