#view-display {
	width: 100%
}

#events-container {
	text-align:center;
}

#events-container img {
	max-width: 1024px;
	width: 100%
}

#current-time {
	font-size: 36px;
	font-weight: bold;
	color: #aaaaaa;
}

#current-date {
	font-size: 30px;
	font-weight: bold;
	color: #aaaaaa;
}

